@keyframes fading {
    0%  {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes moving {
    0%   {left: 0%; top: 95%; opacity: 1;}
    25%  {transform: rotate(360deg);}
    50%  {left: 20%; top: 95%;}
    75%  {left: 0%; top: 95%;}
    100% {left: 0%; top: 95%;}
}

#test {
    animation: moving 4s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
    position: fixed;
    left: 0%;
    top: 95%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: #e9afd3;
}

.more-button {
    position: fixed;
    left: 45%;
    top: 41%;
    background-color: rgb(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: #F1A5A0;
    font-size: 20px;
}

.more-button:focus {
    outline: none;
}

.navbar {
    animation-name: fading;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

.content-container-about-me,
.test {
    background-image: url("https://i.pinimg.com/originals/bd/56/5d/bd565dcc0a556add0b0a0ed6b26d686e.gif");
    background-size: cover;
    display: block;
    text-align: center;
    padding-top: 5%;
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    animation-name: fading;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    scrollbar-width: none;
}

.test {
    background-image: url("https://i.pinimg.com/originals/bd/56/5d/bd565dcc0a556add0b0a0ed6b26d686e.gif");
    background-size: cover;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    overflow: hidden;
}

.content-container-about-me::-webkit-scrollbar {
    display: none;
}

.content-container-about-me h1,
.test h1 {
    font-size: 2.5em;
    text-align: center;
    animation-name: fading;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    color: #e9afd3;
    max-width: 50%;
    background-color: rgb(0, 0, 0, 0.4);
    margin-left: 26%;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 2%;
    visibility: hidden;
    opacity: 0.0;
}

.content-container-about-me h2,
.test h2 {
    color: #e9afd3;
    animation-name: fading;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    max-width: 50%;
    background-color: rgb(0, 0, 0, 0.4);
    margin-left: 26%;
    margin-bottom: 0;
    padding-bottom: 0;
    visibility: hidden;
    opacity: 0.0;
}

.content-container-about-me p,
.test p {
    font-size: 1.5em;
    text-align: center;
    margin-left: 26%;
    max-width: 50%;
    animation-name: fading;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    color: #e9afd3;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0, 0.4); 
    visibility: hidden;
    opacity: 0.0;
}

.rounded-circle {
    animation-name: fading;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    padding-bottom: 0.5%;
}