@keyframes fading {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes moving {
    33% {
        transform: rotate(360deg);
    }

    66% {
        transform: rotate(-360deg);
    }

    99% {
        transform: rotate(0deg);
    }
}

@media (min-height: 833px) and (min-width: 1059px) {
    #scroll-label {
        display: none;
    }

    .content-container-about-me,
    .links-container {
        background-image: url("https://i.pinimg.com/originals/bd/56/5d/bd565dcc0a556add0b0a0ed6b26d686e.gif");
        background-size: cover;
        display: block;
        text-align: center;
        padding-top: 5%;
        position: absolute;
        width: 100%;
        height: 100%;
        animation-name: fading;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        scrollbar-width: none;
        overflow: hidden;
    }
}

@media (max-width: 1058px) {
    #scroll-label {
        display: block;
        position: fixed;
        bottom: 10px;
        right: 0px;
        background-color: rgb(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        outline: none;
        font-weight: bold;
        color: #e9afd3;
    }

    .content-container-about-me,
    .links-container {
        background-image: url("https://i.pinimg.com/originals/bd/56/5d/bd565dcc0a556add0b0a0ed6b26d686e.gif");
        background-size: cover;
        display: block;
        text-align: center;
        padding-top: 5%;
        position: absolute;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        animation-name: fading;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        scrollbar-width: none;
        overflow-x: hidden;
    }
}

@media (max-height: 832px) {
    #scroll-label {
        display: block;
        position: fixed;
        bottom: 10px;
        right: 0px;
        background-color: rgb(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        outline: none;
        font-weight: bold;
        color: #e9afd3;
    }

    .content-container-about-me,
    .links-container {
        background-image: url("https://i.pinimg.com/originals/bd/56/5d/bd565dcc0a556add0b0a0ed6b26d686e.gif");
        background-size: cover;
        display: block;
        text-align: center;
        padding-top: 5%;
        position: absolute;
        overflow-y: scroll;
        width: 100%;
        height: 100%;
        animation-name: fading;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        scrollbar-width: none;
        overflow-x: hidden;
    }
}

#contact {
    display: block;
    position: fixed;
    bottom: 10px;
    animation: moving 4s;
    animation-delay: 4s;
    animation-timing-function: ease-in-out;
    background-color: rgb(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: #e9afd3;
}

.more-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    background-color: rgb(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    color: #F1A5A0;
    font-size: 20px;
}

.more-button:focus {
    outline: none;
}

.navbar {
    animation-name: fading;
    animation-timing-function: ease-in;
    animation-duration: 1s;
}

.links-container {
    padding-top: 7%;
}

.content-container-about-me::-webkit-scrollbar {
    display: none;
}

.links-container::-webkit-scrollbar {
    display: none;
}

.content-container-about-me h1 {
    display: block;
    font-size: 2.5em;
    text-align: center;
    animation-name: fading;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    color: #e9afd3;
    max-width: 50%;
    background-color: rgb(0, 0, 0, 0.5);
    margin-left: 26%;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 2%;
    visibility: hidden;
    opacity: 0.0;
}

.content-container-about-me h2 {
    display: block;
    color: #e9afd3;
    animation-name: fading;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    max-width: 50%;
    background-color: rgb(0, 0, 0, 0.5);
    margin-left: 26%;
    margin-bottom: 0;
    padding-bottom: 0;
    visibility: hidden;
    opacity: 0.0;
}

.content-container-about-me p {
    display: block;
    font-size: 1.5em;
    text-align: center;
    margin-left: 26%;
    max-width: 50%;
    animation-name: fading;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    color: #e9afd3;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0.0;
}

.rounded-circle {
    animation-name: fading;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    padding-bottom: 0.5%;
}

.container-round-links p,
.container-round-links-two p {
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #e9afd3;
    font-family: sans-serif;
}

.container-round-links-two {
    margin-top: 1%;
    width: auto;
    height: auto;
}

.container-round-links {
    max-height: 350px;
}

.link-one,
.link-two,
.link-three {
    border-radius: 25px;
    display: inline-block;
    background-color: rgb(0, 0, 0, 0.5);
    height: 350px;
    width: 350px;
    padding-top: 0.3%;
}

.link-four,
.link-five,
.link-six {
    border-radius: 25px;
    display: inline-block;
    background-color: rgb(0, 0, 0, 0.5);
    height: 350px;
    width: 350px;
    padding-top: 0.3%;
}